@import 'lib';

$font-narrow = 100;
$font-bold = 500;

.mkt-cloak {
    display: none;
}

.mkt-banner {
    background: $dark-gray;
    color: $white;
    display: block;
    line-height: 1.3;
    overflow: hidden;
    position: relative;
    transition: max-height 350ms;
}

.mkt-banner-content {
    margin: 2px auto;
    max-width: $max-site-width;
    position: relative;
    text-align: center;

    .mkt-banner-close {
        color: $greyscale-white;
        cursor: pointer;
        font-size: 40px;
        font-weight: $font-narrow;
        line-height: 0;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 50%;
        +ltr() {
            right: 0;
            padding-right: 10px;
        }
        +rtl() {
            left: 0;
            padding-left: 10px;
        }
    }
    .mkt-banner-close:hover {
        color: rgba($greyscale-white, 0.8);
    }
    .mkt-banner-close:active {
        color: rgba($greyscale-white, 0.6);
    }
    > span {
        display: inline-block;
    }
    > span,
    > div {
        margin-top: 10px;
        padding: 0;
    }
    a {
        font-weight: $font-narrow;
        text-decoration: underline;
    }
    > a {
        border-radius: 5px;
        color: $greyscale-white;
        font-weight: 400;
        display: inline-block;
        margin: 10px;
        padding: 10px;
        text-decoration: none;

        &.spin {
            color: transparent;
            position: relative;

            &:after {
                spinner('install');
                content: "";
                display: block;
                left: unquote('calc(50% - 9px)');
                position: absolute;
                top: unquote('calc(50% - 11px)');
            }
        }
    }
}

.mkt-banner[theme="firefox"] {
    .mkt-banner-content {
        background: url("../img/logos/firefox-64.png") no-repeat;
        background-position: 0 50%;
        background-size: 64px 60px;
        min-height: 60px;
        padding: 0 40px 0 70px;

        > a {
            background-color: $darker-gray;

            &:hover {
                background-color: darken($darker-gray, 10%);
            }
        }
    }
}

.mkt-banner-content {
    type_body($greyscale-white);
    padding: 0 40px;
}

$banner-colors = $action-success $action-positive $action-wait $action-error;
$banner-colors-hover = $action-success-hover $action-positive-hover $action-wait-hover $action-error-hover;
$banner-colors-tapped = $action-success-tapped $action-positive-tapped $action-wait-tapped $action-error-tapped;
$banner-names = success positive "wait" error;
for $i in (0..3) {
    $banner-color = $banner-colors[$i];
    $banner-color-hover = $banner-colors-hover[$i];
    $banner-color-tapped = $banner-colors-tapped[$i];
    $banner-name = $banner-names[$i];

    .mkt-banner[theme={$banner-name}] {
        background: $banner-color;
        .mkt-banner-content > a {
            background-color: $banner-color-tapped;

            &:hover {
                background-color: darken($banner-color-tapped, 10%);
            }
        }
    }

    .mkt-banner[theme={$banner-name}-light] {
        background: $banner-color-hover;
        .mkt-banner-content > a {
            background-color: $banner-color-tapped;

            &:hover {
                background-color: darken($banner-color-tapped, 10%);
            }
        }
    }
}

.mkt-segmented-select {
    display: none;
}

.mkt-segmented-button {
    background: $white;
    border-color: $action-positive;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    color: $action-positive;
    cursor: pointer;
    outline: none;
    padding: 10px;

    &:first-of-type {
        border-radius: 5px 0 0 5px;
        border-width: 1px;
    }

    &:last-of-type {
        border-radius: 0 5px 5px 0;
    }

    &[selected] {
        background: $action-positive;
        border-color: $action-positive;
        color: $white;
    }

    &:hover {
        background: $action-positive-hover;
        border-color: $action-positive-hover;
        color: $white;
    }

    &:active {
        background: $action-positive-tapped;
        border-color: $action-positive-tapped;
        color: $white;
    }
}

.mkt-tab-control-select {
    display: none;
}

.mkt-tab-control-button {
    background: transparent;
    border-color: transparent;
    border-style: solid;
    border-width: 0 0 3px 0;
    color: $black;
    cursor: pointer;
    margin: 0 5px;
    outline: none;
    padding: 5px 0;
    text-transform: uppercase;

    &[selected] {
        border-color: $action-positive;
        color: $action-positive;
    }

    &:hover {
        border-color: $action-positive-hover;
        color: $action-positive-hover;
    }

    &:active {
        border-color: $action-positive-tapped;
        color: $action-positive-tapped;
    }
}

.mkt-tabs {
    .mkt-tab {
        display: none;

        &.mkt-tab-active {
            display: block;
        }
    }
}

@media (min-width: 1025px) {
    .mkt-banner-content {
        padding: 0;
    }
}

@media $narrower-than-desktop {
    .mkt-banner small {
        display: none;
    }
}

/*
    .mkt-prompt - form as full width of page. By default, only a full-width submit btn.
    .mkt-prompt[data-modal] - modal overlay. By default, half-width cancel/submit btns.
*/
.mkt-prompt {
    position: relative;
    width: 100%;

    .mkt-prompt-content {
        background: $white;
        padding-bottom: 10px;

        > form:first-child,
        > div:first-child {
            padding: 5px 20px;
        }
    }
    form > div:not(.mkt-prompt-btn-wrap) {
        margin-bottom: 20px;
        width: 100%;
    }
    h3 {
        font-weight: $font-bold;
        margin-top: 20px;
    }
    p {
        font-size: $font-size;
        line-height: 22px;
        margin: 15px 0;
    }
    textarea {
        border: 1px solid $greyscale-light-grey;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-family: $primary-font-family;
        margin-bottom: 25px;
        min-height: 180px;
        padding: 10px;
        width: 100%;
    }
    select {
        width: 100%;
    }
}

.mkt-prompt-btn-wrap {
    display: inline-flex;
    width: 100%;
}

.mkt-prompt-btn-wrap button {
    border: 0;
    color: $white;
    flex: 1;
    font-size: 13px;
    font-weight: $font-bold;
    height: 48px;

    &:hover {
        cursor: pointer;
    }
    &[data-type="cancel"] {
        // Cancel button.
        display: none;  // Don't show cancel button when as a page.
        background: $action-positive;

        &:hover {
            background: $action-positive-hover;
        }
        &:active {
            background: $action-positive-tapped;
        }
    }
    &[type="submit"] {
        background: $action-success;

        &:hover {
            background: $action-success-hover;
        }
        &:active {
            background: $action-success-tapped;
        }
    }
}

.mkt-prompt form:invalid [type="submit"] {
    background: $greyscale-grey;

    &:hover {
        cursor: default;
    }
}

.mkt-prompt[data-modal] {
    background: rgba($greyscale-grey, .8);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;  // TODO: write a z-index system.

    .mkt-prompt-content {
        border-radius: 0;
        padding-bottom: 0;
        position: absolute;
        left: 0;
        margin: 5% auto 0;
        max-width: ($max-site-width / 2)px;
        right: 0;
        width: 90%;
    }
    .mkt-prompt-btn-wrap {
        margin-bottom: -5px;
        position: relative;
        right: 20px;
        width: unquote('calc(100% + 40px)');

        +rtl() {
            left: 20px;
            right: inherit;
        }
    }
    [data-type="cancel"] {
        display: inline-block;
    }
}

@media $base-tablet {
    .mkt-prompt .mkt-prompt-content {
        margin-bottom: 20px;
    }
    .mkt-prompt[data-modal] .mkt-prompt-content {
        width: (2 / 3 * 100)%;
    }
    .mkt-prompt-btn-wrap {
        justify-content: center;

        button[type="submit"] {
            max-width: $mobile-content-width;
        }
    }
}
