body {
    font-family: "Fira Sans OT", "Fira Sans", FiraSansWeb, sans-serif;
    background: #eee;
}

hr {
    color: rgb(220, 220, 220);
}

.page {
    margin: 0 auto;
    width: 800px;
}
.page > mkt-banner {
    margin-bottom: 20px;
}

.mkt-tab {
    padding-top: 20px;
}

pre {
    background: rgb(60, 60, 60);
    border-radius: 2px;
    box-shadow: 0 0 1px 1px rgb(80, 80, 80);
    color: #fff;
    font-family: monospace;
    padding-bottom: 10px;
    margin-top: 80px;
}
pre:before {
    color: #000;
    content: 'Source';
    display: block;
    position: relative;
    bottom: 30px;
}
